<%= render "shared/messages_menu" %>
<% if @messages.blank? %>
<label>Inbox is empty</label>
<% else %>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<th>Subject</th>
			<th>Sender</th>
			<th></th>
		</thead>
		<tbody>
		<% @messages.each do |message| %>
			<tr>
				<td>
					<% if !message.read? %>
						<b>
					<%  end %>
					<%=h message.subject %> 
					<% if !message.read? %>
						</b>
					<%  end %>
				</td>
				<td><%=h message.sender.name %> at <%=h message.sent_at.to_date %></td>
				<td><%= link_to("Show",message_path(:id=>message)) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>