<% provide(:title,"Messages") %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<%= render "shared/messages_menu" %>
<% if @messages.blank? %>
<label>Inbox is empty</label>
<% else %>
	<table class="table table-striped  table-responsive table-hover table-bordered">
		<thead>
			<th>Subject</th>
			<th>Sender</th>
			<th></th>
		</thead>
		<tbody>
		<% @messages.each do |message| %>
			<tr>
				<td>
					<% if !message.read? %>
						<b>
					<%  end %>
					<%= message.subject %> 
					<% if !message.read? %>
						</b>
					<%  end %>
				</td>
				<td><% if message.sender.nil? %>Deleted User<% else %><%= message.sender.name  %><% end %> at <%=h message.sent_at.to_formatted_s(:long)   %></td>
				<td><%= link_to("Show",message_path(:id=>message)) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
