<% provide(:title,"New Message") %>
<%= render "shared/messages_menu" %>
<% if @message.errors.present? %>
	<label><%= @message.errors.full_messages %></label>
<% end %>
<%= form_for(@message) do |f| %>
	
	<br>
	<%= #f.text_area :recepient_id, label: 'Sent To' 
	%>
	<div class="row">
	<div class="col-xs-4">
	<div class="form-group">
	<%= f.select :recepient_id, User.confirmed.where.not(:id => current_user.id).order(:name).pluck(:name,:id),{},:class=>"form-control" %>
	</div>
	<div class="form-group">
	<%= f.text_field :subject,:label=> false,:class=>"form-control",:placeholder=>'enter title ...' %>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="col-xs-10">
	<div class="form-group">
	<%= f.text_area :body, :label=> false, :required=> false,:class=>"form-control", :placeholder=> 'Hi, how are you? ...' %>
	</div>
	<div class="form-group">
	<%= f.check_box :container, :as=>:boolean %>&nbsp;<%= f.label :container,"Save as Draft?" %>
	</div>
	<%= f.submit :submit,:class=>"btn btn-primary" %>
	</div>
	</div>
<% end %>
