<% provide(:title,"New Message") %>
<%= render "shared/messages_menu" %>
<% if @message.errors.present? %>
	<label><%= @message.errors.full_messages %></label>
<% end %>
<%= simple_form_for(@message) do |f| %>
	<fieldset>
	<%= f.select(:recepient_id, User.where.not(:id => current_user.id).pluck(:name,:id)) 
	%>
	<%= #f.input :recepient_id, label: 'Sent To' 
	%>
	<%= f.input :subject,:label=> false,:placeholder=>'enter title ...' %>
	<%= f.input :body, :label=> false, :required=> false, :placeholder=> 'Hi, how are you? ...',:input_html => {:rows=>5,:style=>'width:100%'} %>
	<%= f.button :submit,'Send Message',:class=>"btn btn-primary" %>
	</fieldset>
<% end %>
