<% provide(:title,"Sent") %>
<%= render "shared/messages_menu" %>
<% if @sent_messages.blank? %>
<label>Sent Items is empty</label>
<% else %>
	<table class="table table-hover table-responsive table-bordered">
		<thead>
			<th>Subject</th>
			<th>To</th>
			<th></th>
		</thead>
		<tbody>
		<% @sent_messages.each do |message| %>
			<tr>
				<td>
					<% if !message.read_at %>
						<b><%=h message.subject %></b>
					<% else %>
						<%=h message.subject %>
					<% end %>
				</td>
				<td><% if message.recepient %> 
						<%= message.recepient.name %>
					<% else %><b>Deleted User </b><% end %> at <%=h message.sent_at.to_date %></td>
				<td>
					<%= link_to("Show",message_path(:id=>message)) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
