<% provide(:title,"Message") %>
<%= render 'shared/messages_menu' %>
<h4>Subject</h4>
<label><%= @message.subject %></label>
<h4>Message</h4>
<div class="message_body">
<% @messages.each do |m| %>
<div class="row">
<div class="col-xs-9 messagebox">
	<% if m.sender_id.to_i == current_user.id %>
	<div class="triangle-right pull-left" style="min-width:100px"><%= m.body %></div>
	<% else %>
	<div class="triangle-right top pull-right" style="min-width:100px">
	   <%= m.body %>
	</div>
	<% end %>
</div>
<div class="col-xs-3">
	<%= m.sent_at.to_formatted_s(:long)   %>
</div>
</div>
<br><br>
<% end %>
</div>
<% if !@message.trashed? %>
	<%= simple_form_for @message, :url=> trash_messages_path(:id=>@message), :method=> :post do |f| %>
		<%= f.submit 'Delete Message',:class=>"btn btn-warning" %>
	<% end %>
<% end %>
<% if @message.received? %>
	<h3>Reply</h3>
	<%= simple_form_for @message, url: reply_messages_path(:id=>@message), method: :post do |f| %>
		<fieldset>
	  	<%= f.input :subject, :label=> false, :input_html=>{ value: "#{@message.subject}"} %>
	    <%= f.input :body, :label=> false, :required=> false, :placeholder=> 'Reply : Hi, how are you? ...', 	:input_html => {:rows=>5,:style=>'width:100%', :value=>''}%>
	    <%= f.input :container, :as=>:boolean, :label=>'Save as Draft?' %>
	    <%= f.submit 'Reply',:class=>"btn btn-primary" %>
	  </fieldset>
  <% end %>
<% end %>
