<%= provide(:title,@user.name) %>
<h3><%= @user.name %></h3>
<div class="row">
<div class="span3">
<%= image_tag @user.avatar.url(:medium) %><br><br>
<p>Email: <%= @user.email if @user.email %></p>
</div>
<div class="span8">
<div id="postsfeed">
    <%= render :partial => 'home/posts.html.erb', :locals => { :posts_streams => @user_posts } %>
</div>
</div>
