<% if posts_streams.empty? %>
	<div class="empty"><h3> no posts yet </h3></div>
<% else %>
  <% posts_streams.each do |post| %>
    <div class="post"> 
          
      	<table class="table table-bordered">
		<tr>
		<td>	<img src="assets/default_avatar.png" style='width:70px;height:70px'/>	</td>
      		<td>
          		<blockquote>
    				<p><%= post.content %></p>
       				<small><%= post.posted_by %></small>
         		
 				<div class="posttime">created at  <%= post.created_at %></div>
			</blockquote>
		</td>
		</tr> 
		<tr>
			<td></td><td><div class="clearfix">
				<%=render :partial => 'posts/comments.html.erb' , :locals => {:post => post } %>
			</div></td>
		</tr>
		<tr>
			<td></td><td><div class="clearfix">
				<%=render :partial => 'comments/new.html.erb' , :locals => { :post => post }%>		
			</div></td>
		</tr>
        </table> 
     </div>
  <% end %>
<% end %>
    
