<% if posts_streams.empty? %>
	<div class="empty"><h3> no posts yet </h3></div>
<% else %>
  <% posts_streams.each do |post| %>
    <div class="postbody"> 
          
          <div class="postimg"><%= image_tag post.user.avatar.url(:medium) %>
          <div class="posttext">
          	<blockquote>
    		<p><%= post.content %></p>
       		<small><%= post.posted_by %></small>
          	
 <div class="posttime">created at  <%= post.created_at %></div>
</blockquote>
</div> 
		<div class="comments">
			<%=render :partial => 'posts/comments.html.erb' , :locals => {:post => post } %>
		</div>
		<div class="newcomment">
			<%=render :partial => 'comments/new.html.erb' , :locals => { :post => post }%>		
		</div>
         
     </div>
  <% end %>
<% end %>
    
