<% if posts_streams.empty? %>
	<div class="empty"><h3> no posts yet </h3></div>
<% else %>
  <% posts_streams.each do |post| %>
    <div class="postbody"> 
          

      	<div class="row">
		<%@user = User.where(id: post.posted_by_uid).first %>
      		<div class="span6">
		    <div class="row">
		      <div class="posttext">
          		<blockquote>
          		<div class="pull-right delete">
          		<% if post.posted_by_uid==current_user.id %>
          		<%= link_to 'x', post_path(post), method: :delete, class: "btn btn-danger btn-mini", title: "Detele Post" ,confirm: 'Are you sure?' %>
                    <% end %>
                    </div>
    				<p><%= post.content %></p>
         		
 				<div class="posttime">created at  <%= post.created_at %></div>
			</blockquote>
		    </div>
		
			<div class="span6 comments">
				<%=render :partial => 'posts/comments.html.erb' , :locals => {:post => post } %>
			</div>
		
			<div class="span6 newcomment">
				<%=render :partial => 'comments/new.html.erb' , :locals => { :post => post }%>		
			</div>
		    </div>

		</div>
		</div>
		
     </div>
  <% end %>
<% end %>
    
