<%= form_for(@post) do |f| %>
<div class="fields">
    <h5>All fields are required</h5>
    <%= f.label :type %>
<div class="radio">
    <%= radio_button_tag(:nature, "normal") %>
<%= label_tag(:nature_normal, "Normal") %>
<%= radio_button_tag(:nature, "image") %>
<%= label_tag(:nature_image, "Image") %>
<%= radio_button_tag(:nature, "document") %>
<%= label_tag(:nature_document, "Document") %>
</div>
 		<%= f.label :content %>
        <%= f.text_area :content ,:required => true %>
		<%= f.label :caption %>
        <%= f.text_area :caption , :required => true %><br/>
        <%= f.label :att_file, "File to Upload" %>
        <%= f.file_field :att_file, :required => true %>
    <%= f.submit("Post it" , :class => "btn-primary") %>
  </div>

    
<% end %>
