<%= form_for(@post) do |f| %>
<div class="container fields">
    
<div class="col-sm-6 col-xs-12 form-group">
<%= f.label :type %><br>
    <%= f.radio_button(:nature, "normal") %>
<%= f.label :nature,"Normal" , :value => "normal" %>
    <%= f.radio_button(:nature, "image") %>
<%= f.label :nature,"Image" , :value => "image" %>
    <%= f.radio_button(:nature, "document") %>
<%= f.label :nature,"Document" , :value => "document" %>
</div><div class="col-sm-6 hidden-xs form-group">
 <%= f.label :att_file, "File to Upload" %>
        <%= f.file_field :att_file %>
</div><br><div class=" row form-group">
 		<div class="col-xs-12">
 		<%= f.label :content %>
        <%= f.text_area :content ,:required => true ,:class=>"form-control",:placeholder=>"Content"%>
       </div></div>
    <%= f.submit("Post it" , :class => "btn btn-primary") %>
  </div>

    
<% end %>
