<% if @posts.empty? %>
    <div class="empty"><h3> no posts yet </h3></div>
<% else %>
    <% @posts.each do |post| %>
    <div class="postbody"> 


    <div class="row">
        <%@user = User.where(id: post.posted_by_uid).first 
	  if @user %>
        <% if params[:controller]=='home'%>
            <div class="col-xs-2 postimg">	<%= image_tag @user.avatar.url(:medium),:size => "100x100",class: 'postavatar img-thumbnail' %>	</div>

        <div class="col-xs-10">
        <% else %>
                <div class="col-xs-12">
            <% end %>
                <div class="row">
		    <div class="posttext">
                        <div class="pull-right delete">
                            <% if post.posted_by_uid==current_user.id || (current_user.has_role? :admin) %>
                                <%= link_to 'x', post_path(post), method: :delete, class: "btn btn-danger btn-sm", title: "Delete Post" ,confirm: 'Are you sure?' %>
                        <% end %>
                        </div>

                        <blockquote>

                            <h3 style="opacity:0.7">
                                <%= post.nature %>
                        </h3>
                            <% if post.nature == "image" %>
                                    <%= link_to "#{image_tag (post.att_file.url(:medium)) , size:'200x200',class: 'img-thumbnail'}".html_safe , post.att_file.url%>
                            <p><%= post.content %></p>
                        <% else %>
                            <p><%= post.content %></p>
				<div class="embedded" onfocus="func()">
				<% @width=params[:width].to_i*640/1425 unless !params[:width] %>
                                <%= embed(post.content,{width: @width}) %>
				</div>
                                    <% end %>
                                    <small><%= post.caption %></small><br>
					                                                          <% if post.nature == "document"%>
                                    <small><%= link_to "Download file",post.att_file.url %></small><br>
                            <% end %>

                            <br><small><%= link_to post.posted_by,User.find(post.posted_by_uid) %></small><br>
                              


			  <div class="row">
                            <div class="col-xs-8">
                               <% if post.nature == "document"%>
                                    <small><%= link_to "Download file",post.att_file.url %></small><br>
                            <% end %>
			 <br> <p> Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

                                <div class="posttime">created at  <%= post.created_at %></div>
                            </div>
 
                            <div class="votebox col-xs-4">
                                <div class="col-xs-6">
                                    <a href="" id="<%= post.id %>" name="up" class="votes">
                                        <div class='up'></div><%= post.ups %> likes</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href=""  id="<%= post.id %>"  name="down" class="votes">
                                        <div class='down'></div><%= post.downs %> dislikes</a>
                                </div>

                            </div>
			   </div>   


                        </blockquote>


                    </div>
		    <div class="row">
                    <div class="col-xs-10 col-xs-offset-3 comments">
                        <%=render :partial => 'posts/comments.html.erb' , :locals => {:post => post } %>
                    </div>
		    </div>
		    <div class="row">
                    <div class="col-xs-10  col-xs-offset-1 newcomment">
                        <%=render :partial => 'comments/new.html.erb' , :locals => { :post => post }%>	<br>	
                    </div>
                    </div>
                </div>

            </div>
        </div>
        
         
           

    </div>
<% end %>
<% end %>
<% end %>

