<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex | <%= yield(:title) %></title>
    <!--<title><%# content_for?(:title) ? yield(:title) : "Alex" %></title>-->
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Alex" %>">
    <link rel="icon" 
          type="image/png" 
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/EtruscanA.svg/2000px-EtruscanA.svg.png">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script>
      current_user = <%= current_user ? 'true' : 'false' %>
    </script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" onload="init()" >

<div class="owl-carousel" id="bgCarousel">
  <% if current_user %>
  <div class="item"> <%= image_tag current_user.avatar.url(:large) ,class: 'postavatar img-responsive img-rounded img-thumbnail owl-content'%> </div>
  <% end %>
  <div class="item"><%= image_tag("bg.jpg",class: 'postavatar img-responsive img-rounded img-thumbnail owl-content owl-bg') %></div>
</div>

    <div class="navbar navbar-default navbar-fixed navbar-fixed-top" role="navigation" id="navbar" >   <div class="container">
      <div class="navbar-inner">
     
          <%= render 'layouts/navigation' %>
        </div>
      
    </div>
    </div>
    <div id="main" role="main">
      <div class="container">
      <!--
      <div class="background"></div>
        <div class="mask">
            <div class="bluredBackground"></div>
        </div>
        -->
        <div class="content">
           <div class="row">
            <div class="col-xs-12">
            
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
		<br><br>
		<small>A site by <span title="Head">Prashant</span>, <span title="Coder">Mithul</span>, <span title="Logo Designer">Mithun</span>, <span title="Finance Head">Navnith</span></small>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <!--[if !(lt IE 8)]><!--> 
       
               <!--<![endif]-->
  </body>
</html>
