<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex | <%= yield(:title) %></title>
    <!--<title><%= content_for?(:title) ? yield(:title) : "Alex" %></title>-->
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Alex" %>">
    <link rel="icon" 
          type="image/png" 
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/EtruscanA.svg/2000px-EtruscanA.svg.png">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">   <div class="container">
      <div class="navbar-inner">
     
          <%= render 'layouts/navigation' %>
        </div>
      
    </nav>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="col-xs-12">
            
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
		<br><br>
		<small>A site by <span title="Head">Prashant</span>, <span title="Coder">Mithul</span>, <span title="Logo Designer">Mithun</span>, <span title="Finance Head">Navnith</span></small>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <!--[if !(lt IE 8)]><!--> 
       
               <!--<![endif]-->
  </body>
</html>
